# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# you can get a production one in https://app.planetscale.com/ for free
DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
# only works in https, I recommend using ngrok to bypass that in development and setting this to your ngork url
NEXTAUTH_URL="http://localhost:3000"

# Next Auth SPOTIFY Provider
# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID="d3fasfa00fasf74d3594242342699557daa"
SPOTIFY_CLIENT_SECRET="14ee43ebb70d4daa24912d46cda531f58b"

# Redis upstash, it's free
# https://console.upstash.com/
UPSTASH_REDIS_REST_URL="https://us1-fafasinffsf-44324446.upstash.io"
UPSTASH_REDIS_REST_TOKEN="GF3-ASQ4ZjdlNDZkOTJjY2JmZjllGGWNlNDYwNmE3NmU0YzBkYjI1NmQ5Zjk="
# rediss:// if using tls/ssl on upstash, redis:// if not
REDIS_URL="rediss://default:92ccbff9e5ce4606a76e4c0db256d9f9@us1-fafasinffsf-44324446.upstash.io:44324446"

# OPTIONAL
PORT="3000"
SPOTIFY_REFRESH_TOKEN=""
LOCALHOST_HTTPS=false
SKIP_ENV_VALIDATION=false
