@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 98%;
    --foreground: 0, 0%, 9%;

    --muted: 222.2 47.4% 11.2%;
    --muted-foreground: 210 40% 96.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 222.2 47.4% 11.2%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0, 0%, 60%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 96.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 9%;
    --foreground: 0, 0%, 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 0, 0%, 9%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 0, 0%, 60%;
    --input: 223, 5%, 27%;

    --primary: 210 40% 98%;
    --primary-foreground: 0, 0%, 60%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0, 0%, 9%;

    --accent: 223, 5%, 27%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 223, 5%, 27%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    font-family: 'Roboto', 'Segoe UI';
  }
}
