name: Cypress Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    # Runs tests in parallel with matrix strategy https://docs.cypress.io/guides/guides/parallelization
    # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
    strategy:
      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
      matrix:
        containers: [1, 2] # Uses 2 parallel instances
        node-version: [18]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
          uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          # Starts web server for E2E tests - replace with your own server invocation
          # https://docs.cypress.io/guides/continuous-integration/introduction#Boot-your-server
          build: pnpm build
          start: pnpm start
          wait-on: 'http://localhost:3000' # Waits for above
          # Records to Cypress Cloud
          # https://docs.cypress.io/guides/cloud/projects#Set-up-a-project-to-record
          record: true
          parallel: true # Runs test in parallel using settings above
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CLERK_USER_ID: ${{ secrets.CLERK_USER_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPSTASH_REDIS_REST_URL: ${{secrets.UPSTASH_REDIS_REST_URL}}
          UPSTASH_REDIS_REST_TOKEN: ${{secrets.UPSTASH_REDIS_REST_TOKEN}}
          REDIS_URL: ${{secrets.REDIS_URL}}
          CLERK_SECRET_KEY: ${{secrets.CLERK_SECRET_KEY}}
          CLERK_REDIRECT_URI: ${{secrets.CLERK_REDIRECT_URI}}
          SPOTIFY_CLIENT_SECRET: ${{secrets.SPOTIFY_CLIENT_SECRET}}
          SPOTIFY_CLIENT_ID: ${{secrets.SPOTIFY_CLIENT_ID}}
          GENIUS_CLIENT_SECRET: ${{secrets.GENIUS_CLIENT_SECRET}}
          GENIUS_ACCESS_TOKEN: ${{secrets.GENIUS_ACCESS_TOKEN}}
          NEXT_PUBLIC_CLERK_SIGN_IN_URL: '/auth/sign-in'
          NEXT_PUBLIC_CLERK_SIGN_UP_URL: '/auth/sign-up'
          NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL: '/'
          NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL: '/'
          NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: 'pk_test_ZmxlZXQtb3Jpb2xlLTI4LmNsZXJrLmFjY291bnRzLmRldiQ'
